#title-bar {
  background-color: #2A79A6;
  margin-bottom: 20px;

  h1 {
    color: white;
  }
}

#save-button {
  height: 45px;

  button {
    margin-right: 15px;
    float: right;
  }
}

#cards-row {
  margin-left: 20px;

  .delete-card {
    float: right;
  }

  #cards {
    .card {
      min-height: 140px;
    }
    .panel {
      .panel-heading {
        a {
          color: white;
        }
      }
    }
  }
}
