#title-bar {
  background-color: #2A79A6;
  margin-bottom: 20px;

  h1 {
    color: white;
  }
}

#chose {
  #left {
    border-right: 2px solid #2A79A6;
  }

  #left, #right {
    h1 {
      line-height: 300px;
    }
    min-height: 300px;
  }
}

#save-button {
  height: 45px;

  button {
    margin-right: 15px;
    float: right;
  }
}

#cards-row {
  margin-left: 20px;

  .delete-card {
    float: right;
  }

  #cards {
    .card {
      min-height: 140px;
    }
    .panel {
      .panel-heading {
        a {
          color: white;
        }
      }
    }
  }
}
